.nt{
    color:white;
    font-family:sans-serif;
  }
  body {
    background-color: black
  }
  table, th, td {
      border: 1px solid white;
    }
  #psgb{
    outline: 1px solid rgb(255, 255, 255);
    text-align:center;
    color:white;
    font-family:'Segoe UI';
  }
